* {
  font-family: Oswald;
  margin: 0;
  padding: 0;
  color: white;
}
ul li {
  list-style: none;
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background-color: #161616;

  min-width: 100%;
  min-height: 100vh;
}
h2 {
  margin-bottom: 16px;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
textarea {
  min-height: 200px;
}
.navbar-brand {
  color: white;
  opacity: 0.9;
  margin-right: 40px;
}
.types {
  margin-bottom: 40px;
}
.navbar-nav {
  margin-top: 5px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  opacity: 0.8;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  opacity: 1;
}
.dropdown-item:active {
  background-color: rgba(0, 0, 0, 0.2);
  color: #212529;
}
.nav-dropdown {
  display: flex;
  flex-direction: column;
}
.navbarDropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.navbarDropdown-item:hover {
  color: #1e2125;
  background-color: #e9ecef;
}

.nav-link {
  color: white;
  opacity: 0.8;
  font-size: 16px;
}
.nav-link:hover {
  opacity: 1;
}

.ad {
  margin-top: 96px;
}
.subtitle {
  margin-bottom: 32px;
}
.bord {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;

  border-image-source: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
}
.btn {
  padding: 8px 16px;
  color: white;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.05);
}
.btn-active {
  border: 2px solid white;
}
.trend {
  margin-right: 5px;
}

.outline {
  border: 1px solid white;
  border-radius: 500px;
}
.trend-active {
  border: 3px solid white;
}
.btn:hover {
  color: white;
  opacity: 1;
  background: rgba(255, 255, 255, 0.1);
}

.fast_courses {
  margin-top: 72px;
  background-color: #1f1f1f;
}
.fast_courses_inner {
  padding: 40px 0px;
}
/* .fast_courses_title {
  margin-top: 40px;
}
.fast_courses_subtitle {
  margin-top: 8px;
} */
.card {
  max-width: 350px;

  padding: 0;
  padding-bottom: 16px;
  background-color: rgba(0, 0, 0, 0.3);
}

.card-title {
  opacity: 0.9;
}
.card-text {
  opacity: 0.8;
}
.more {
  margin-top: 24px;
}
.card-img-top {
  max-height: 152px;
}

.favorite {
  width: 30px;
  height: auto;
  padding: 3px;
  cursor: pointer;
  opacity: 0.8;
  fill: none;
}
.favorite-active {
  fill: white;
  opacity: 1;
}
.favorite:hover {
  transition: all 0.5s;
  opacity: 1;
  fill: white;
}
.more-text {
  text-decoration: none;
  font-size: 16px;
  color: white;
  opacity: 0.8;
}
.arrow {
  margin-left: 8px;
  width: 15px;
  height: auto;
}
.more-text:hover {
  color: white;
  opacity: 1;
}

.search {
  min-height: 600px;
  position: relative;
  margin-top: 54px;
  padding-bottom: 150px;
}
.directions {
  margin-top: 40px;
}
.search-form div {
  position: relative;
}
.home_page {
  position: relative;
}
.search-form div img {
  position: absolute;
  top: 9px;
  left: 9px;

  max-width: 21px;
  height: auto;
}
.search-input {
  border-radius: 5px;
  padding-left: 40px;
  height: 40px;
  width: 275px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
}
.footer {
  padding: 32px 0;
  background-color: #1f1f1f;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer h5 {
  opacity: 0.7;
}
.social img {
  margin-left: 24px;
  max-width: 32px;
  height: auto;
}
.forms {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.forms p {
  font-weight: 400;
  margin-bottom: 40px;
}
.addCard_form {
  margin-left: auto;
  margin-right: auto;
}
button a {
  text-decoration: none;
  color: white;
}
button a:hover {
  color: white;
}
.sticky {
  position: sticky;
  top: 0;
}
.input,
.input-group input,
.input-group-text {
  height: 40px;
  padding-left: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  color: white;
}
.forms button {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 16px;
}
.text-center {
  text-align: center;
  opacity: 1;
}
.under_inputs {
  font-weight: 300;
}
.under_inputs a {
  text-decoration: none;
  color: white;
}

/* profile */

/* profile_sidebar */
.profile_sidebar {
  margin-top: 72px;
}

.profile_sidebar .avatar {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

.profile_sidebar__username {
  margin-bottom: 64px;
  font-size: 25px;
  opacity: 1;
  color: white;
}
.profile_sidebar__links {
  margin: 0;
  padding: 0;
}
.profile_sidebar__link {
  padding: 8px 16px;
  list-style: none;
}
.profile_sidebar__link:hover {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
}
.profile_sidebar__link:hover.profile_sidebar__link a {
  color: #fff;
}
.profile_sidebar__link-active {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
}
.profile_sidebar__link a {
  padding: 8px 16px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

/* profile_form */

.profile_form {
  margin-top: 80px;
}
.profile_form__inputs {
  margin-top: 48px;
}
.profile_form__input {
  margin-top: 32px;
}
.profile_form-title {
  font-weight: 600;
}
.input-group-text {
  color: rgba(255, 255, 255, 0.8);
}
.input-group input:focus {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}
.form-control:disabled {
  background-color: rgba(255, 255, 255, 0.2);
}
.profile_form__input-button {
  margin-top: 16px;
}
.photo_preview {
  width: 100%;
  height: 240px;
}
.form-control {
  width: 100%;
}
.photo_preview {
  margin-bottom: 32px;
}
.nav-dropdown {
  display: flex;
}
.dropdown_link {
  width: 100%;
  color: #1f1f1f;
  text-decoration: none;
}
.dropdown_link:hover {
  color: #1f1f1f;
}
/* modal */
.modal-content {
  background-color: rgba(0, 0, 0, 1);
}

/* education */
.education {
  width: 100%;
  background-color: #1f1f1f;
  margin-top: 72px;
}
.education_inner {
  width: 100%;
}
.education_header__title {
  padding-top: 16px;
}
.education_header__navbar {
  margin: 0;
  padding: 0;
  margin-top: 56px;
}
.education_header__navbar-item {
  cursor: pointer;
  padding: 8px;
  display: inline-block;
}
.education_header__navbar-active {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}
.my-card {
  text-decoration: none;
}
.courseInfo__header {
  margin-top: 42px;
}

.courseInfo_text {
  margin-top: 24px;
}
.courseInfo_text h3 {
  font-size: 32px;
}
.courseInfo_text p {
  margin-top: 8px;
  font-size: 16px;
  opacity: 0.9;
}
.aboutCourse {
  margin-top: 24px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}
.aboutCourse_title {
  font-size: 24px;
  font-weight: bold;
  opacity: 0.8;
  margin-bottom: 16px;
}
.aboutCourse_list {
  margin: 0;
  padding: 0;
}
.aboutCourse_list-item {
  margin-bottom: 16px;
  opacity: 0.8;
  list-style: none;
}
.aboutCourse_list img {
  margin-right: 8px;
  width: 24px;
  height: auto;
}
.courseInfo_description {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin-top: 24px;
}
.courseInfo_description-title {
  color: white;
  opacity: 0.9;
  font-size: 24px;
  font-weight: bold;
}
.courseInfo_description-text {
  font-size: 16px;
  opacity: 0.8;
}

.courseInfo_card {
  padding-left: 0;
  position: relative;
  width: 350px;
  max-height: 450px;
  background-color: #fff;
  padding-bottom: 24px;
}
.courseInfo_card__image {
  max-height: 160px;
  width: 350px;
}
.courseInfo_card__body {
  padding: 0 24px;
}
.courseInfo_card__price {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.7);
}
.courseInfo_card__text {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}
.courseInfo_card__list {
  margin: 0;
  padding: 0;
  margin-top: 8px;
}
.courseInfo_card__list-item {
  list-style: none;
  font-size: 12.8px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 8px;
}
.courseInfo_card__list-item img {
  margin-right: 16px;
  width: 16px;
}
.courseInfo_card__footer {
  margin-top: 64px;
  padding: 0 24px;
}
.courseInfo_card-buy {
  display: flex;
  align-items: center;
  border: none;
  padding: 12px 66px;
  background-color: rgba(0, 0, 0, 0.8);
}
.courseInfo_card-like {
  border: none;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* courseTasks */
.courseTasks {
  margin-top: 56px;
}
.courseTasks_theory {
  margin-top: 24px;
}
.courseTasks_theory__title,
.courseTasks_comments__title,
.courseTasks_links__title {
  opacity: 0.9;
  font-size: 24px;
  font-weight: bold;
}
.courseTasks_theory__subtitle {
  margin: 0;
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
}
.courseTasks_theory__text {
  margin: 0;
  margin-top: 8px;
}
.courseTasks_links ul li a {
  color: white;
}
.courseTasks_links ul li {
  margin-top: 8px;
}
.courseTasks_links,
.courseTasks_comments {
  margin-top: 24px;
}
.courseTasks_comment {
  margin-top: 16px;
}
.courseTasks_comment__avatar img {
  border-radius: 50%;
}
.courseTasks_comment__username {
  font-weight: bold;
}

/* loader */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  align-items: center;
  justify-content: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
.search_dropdown {
  display: flex;
  align-items: center;
  max-height: 30px;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  width: 350px;
  margin: 0 auto;
}

.card-loader {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08),
    0 -1px 3px 0 rgba(0, 0, 0, 0.06);
  padding: 8px;
  position: relative;
  border-radius: 2px;
  margin-bottom: 0;
  height: 200px;
  overflow: hidden;
}
.card-loader:only-child {
  margin-top: 0;
}

.card-loader:before {
  content: "";
  height: 110px;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: -48px 78px 0 -48px rgba(255, 255, 255, 0.1),
    -51px 102px 0 -51px rgba(255, 255, 255, 0.1);
}

.card-loader:after {
  content: "";
  background-color: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-name: loader-animate;
  animation-timing-function: linear;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 30%,
    rgba(255, 255, 255, 0) 81%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 30%,
    rgba(255, 255, 255, 0) 81%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 30%,
    rgba(255, 255, 255, 0) 81%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

@keyframes loader-animate {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
