li {
  text-decoration: none;
  list-style: none;
}
img {
  object-fit: cover;
  width: 20rem;
  opacity: 0.8;
}
/* .brand {
  background-color: rgb(180, 121, 121);
} */
/* buttons */
button {
  background: none;
  border: none;
}

.btn-outl {
  border: 1px solid #5b5643;
  color: #5b5643;
}
.btn-outl:hover {
  background-color: #f0ece0;
}
.btn-filled {
  background-color: #5b5643;
  color: #f9f4e6;
}
.btn-filled:hover {
  color: #f9f4e6;
  background-color: #4e4a3a;
}

/* underHeader */
/* .ad {
  background-color: #4e4a3a;
  color: #f9f4e6;
} */
.sq {
  width: 300px;
  height: 150px;
  background-color: #f9f4e6;
}

/* popular-courses */
.header {
  color: #5b5643;
}
.card {
  cursor: pointer;
  width: 20rem;
}
.card:nth-child(even) {
  background-color: #f1d881;
}
.card:nth-child(odd) {
  background-color: #93b0d0;
}
.price sup {
  font-size: 1rem;
  /* color: #f9f4e6; */
  /* background-color: #5b5643; */
}
.card:hover .more {
  opacity: 1;
}
.more {
  transition: all 0.5s;
  opacity: 0;
}
.old-price {
  text-decoration: line-through;
}

/* filter */
.list-item:hover,
ul a:hover {
  background-color: #5b5643;
  color: #f9f4e6;
}

/* footer */
.footer {
  background-color: #5b5643;
}
.footer-inner {
  background-color: #ffffff;
}

.inp {
  color: #5b5643;
  background: none;
  border: 2px solid #5b5643;
}
.inp:focus {
  background: none;
}
.dropdown-menu {
  color: #5b5643;
  background-color: #f9f4e6;
}
.dropdown-item a,
ul a,
span a {
  text-decoration: none;
  color: #5b5643;
}
.active {
  background-color: #5b5643;
  color: #f9f4e6;
}
label {
  font-size: 0.9rem;
  font-weight: bold;
}
